# Copie para terraform.tfvars e ajuste os valores.
# NUNCA commite o arquivo terraform.tfvars com a senha real.

aws_region   = "us-east-1"
project_name = "tech-challenge"

# Nodes do EKS
node_instance_type = "t3.small"
node_desired_size  = 2
node_min_size      = 2
node_max_size      = 4

# Banco de dados
db_name           = "oficina"
db_username       = "oficina"
db_password       = "troque-esta-senha"
db_instance_class = "db.t3.micro"
